@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #cccccc6e !important;
}

a.btn-icon:hover {
  cursor: pointer;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: #198754b8 !important;
  min-width: 100% !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #bd1818b8 !important;
  min-width: 100% !important;
}
