<section class="card shadow">
  <div class="card-body">

    <div class="row">
      <div class="col-md-8">
        <h5 class="card-title text-body-secondary">Produtos</h5>
      </div>
      <div class="col-md-4">
        <button routerLink="create"
                type="button"
                class="btn btn-outline-secondary btn-sm border border-secondary border-1 float-end w-50 shadow-sm"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Cadastrar novo produto">
          <i class="fa fa-plus-circle"></i>&nbsp;
          <span class="fw-bolder">Cadastrar</span>
        </button>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <table mat-table [dataSource]="products">
          <ng-container matColumnDef="name">
            <th class="fw-bolder text-body-secondary col-md-6" mat-header-cell *matHeaderCellDef> Nome </th>
            <td class="text-body-secondary" mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th class="fw-bolder text-body-secondary col-md-2 text-center" mat-header-cell *matHeaderCellDef> Categoria </th>
            <td class="text-body-secondary text-center" mat-cell *matCellDef="let row"> {{row.productCategory.name}} </td>
          </ng-container>

          <ng-container matColumnDef="perishable">
            <th class="fw-bolder text-body-secondary col-md-1 text-center" mat-header-cell *matHeaderCellDef> Perecível </th>
            <td class="text-body-secondary text-center" mat-cell *matCellDef="let row">
              <span class="badge rounded-pill bg-success opacity-75" *ngIf="row.isPerishable">Sim</span>
              <span class="badge rounded-pill bg-danger opacity-75" *ngIf="!row.isPerishable">Não</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th class="fw-bolder text-body-secondary col-md-1 text-center" mat-header-cell *matHeaderCellDef> Ativo </th>
            <td class="text-body-secondary text-center" mat-cell *matCellDef="let row">
              <span class="badge rounded-pill bg-success opacity-75" *ngIf="row.isActive">Sim</span>
              <span class="badge rounded-pill bg-danger opacity-75" *ngIf="!row.isActive">Não</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th class="fw-bolder text-body-secondary col-md-1" mat-header-cell *matHeaderCellDef></th>
            <td class="text-body-secondary" mat-cell *matCellDef="let row">
              <a data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 title="Editar produto"
                 routerLink="edit/{{row.id}}">
                <i class="fa fa-pencil-square-o fs-5 text-primary"></i>
              </a>
              <a class="ps-4"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 title="Excluir produto"
                 routerLink="delete/{{row.id}}">
                <i class="fa fa-trash-o fs-5 text-danger"></i>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       [length]="totalRows"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
      
    </div>
  </div>
</section>
