<section class="d-flex align-items-center justify-content-center">
  <div class="card text-center shadow w-50">
    <div class="card-body p-5">
      <i class="fa fa-warning fa-5x text-warning mb-4"></i>
      <div class="card-text text-muted fs-5 mb-4">
        O produto <b>{{product.name}}</b> será excluído.
        <div class="fw-bolder mt-2">Confirma a exclusão?</div>
      </div>
      <button class="btn btn-danger" (click)="delete()">Confirmar</button>
      <button class="btn btn-secondary ms-2" routerLink="/product">Cancelar</button>
    </div>
  </div>
</section>
