<section class="card shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="card-title text-body-secondary">Editar Produto</h5>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="editProductForm">
          <div class="row" id="form-body">
            <div class="col-md-4">

              <label for="name" class="form-label fw-bolder text-body-secondary">Nome</label>
              <input type="text"
                     class="form-control form-control-sm"
                     formControlName="name"
                     placeholder="Escreva um nome"
                     required />

            </div>
            <div class="col-md-4">

              <label for="productCategory" class="form-label fw-bolder text-body-secondary">Categoria</label>
              <select class="form-select form-select-sm"
                      formControlName="productCategoryId"
                      required>
                <option hidden disabled [value]="0">Selecione uma categoria</option>
                <option *ngFor="let category of categories"
                        [value]="category.id">
                  {{category.name}}
                </option>
              </select>

            </div>
            <div class="col-md-4">
              <div class="form-check">
                <label class="form-check-label fw-bolder text-body-secondary" for="isPerishable">
                  Perecível
                </label>
                <div class="mt-2">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           formControlName="isPerishable" />

                    <label class="form-check-label badge rounded-pill bg-success opacity-75" for="isPerishable">Sim</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           formControlName="isPerishable" />
                    <label class="form-check-label badge rounded-pill bg-danger opacity-75" for="isPerishable">Não</label>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">

              <label for="description" class="form-label fw-bolder text-body-secondary">Descrição</label>
              <textarea class="form-control form-control-sm"
                        formControlName="description"
                        rows="6"
                        placeholder="Escreva uma descrição"
                        required>
              </textarea>

            </div>
          </div>
          <div class="row mt-5" id="form-action">
            <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">

              <button type="button"
                      class="btn btn-sm btn-outline-secondary"
                      routerLink="/">
                <i class="fa fa-chevron-left"></i>&nbsp;Voltar
              </button>
              <button type="button"
                      class="btn btn-sm btn-success w-25"
                      (click)="save()">
                <i class="fa fa-check"></i>&nbsp;Salvar
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
